<h1>Pokemon Battles</h1>

<p class="my-4">
  <%= link_to 'Create Battle', new_pokemon_battle_path, class: 'btn btn-warning' %> 
</p>

<table class="table table-warning table-striped align-middle table-bordered">

  <thead>
    <tr>
      <th>ID Battle</th>
      <th>Date</th>
      <th>Status</th>
      <th>Detail</th>
    </tr>
  </thead>

  <tbody>
    <% @pokemon_battles.each do |battle| %>
      <tr>
        <td><%= battle.id %></td>
        <td><%= battle.time.strftime("%B %d, %Y") %></td>
        <td><%= battle.status %></td>
        <td>
          <%= link_to 'Show', pokemon_battle_path(battle), class: 'btn btn-dark' %>
          <%= link_to 'Details', pokemon_battle_details_path, class: 'btn btn-secondary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
  
</table>