<h1 class="mb-4">Battle</h1>
<div class="game-container">
  <div class="row">
    <% if @pokemon_battle.status == "ON BATTLE" %>

      <div class="col-md-4">
        <div class="col">
          <div class="player-info text-dark" id="player-info">
            <h5>Player 1: <%= @pokemon_battle.pokemon1.name %></h5>
            <span><%= @pokemon_battle.pokemon1.pokedex.name %> (<%= @pokemon_battle.pokemon1.pokedex.type.name %>)</span>
            <div class="hp-bar" id="player-hp"></div>
            <p id="player-hp-text">HP: <%= @pokemon_battle.pokemon1.current_hp %></p>
          </div>
        </div>
        <div class="col">
          <div class="pokemon-container" id="attacker-attack">
            <% if @show_damage_received && @current_turn.odd? %>
              <div class="damage-text" id="attacker-damage-text">-<%= @damage_received %></div>
            <% end %>
            <img src="<%= @pokemon_battle.pokemon1.pokedex.image_url %>" alt="pokemon" width="220">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col">
          <div class="player-info text-dark" id="player-info">
            <h5>Player 2: <%= @pokemon_battle.pokemon2.name %></h5>
            <span><%= @pokemon_battle.pokemon2.pokedex.name %> (<%= @pokemon_battle.pokemon2.pokedex.type.name %>)</span>
            <div class="hp-bar" id="player-hp"></div>
            <p id="player-hp-text">HP: <%= @pokemon_battle.pokemon2.current_hp %></p>
          </div>
        </div>
        <div class="col">
          <div class="pokemon-container" id="opponent-attack">
            <% if @show_damage_received && @current_turn.even? %>
              <div class="damage-text" id="opponent-damage-text">-<%= @damage_received %></div>
            <% end %>
            <img src="<%= @pokemon_battle.pokemon2.pokedex.image_url %>" alt="pokemon" width="220">
          </div>
        </div>
      </div>

    <% elsif @pokemon_battle.status == "FINISHED" %>
      <div class="col-md-4">
        <div class="col">
          <div class="player-info text-dark" id="player-info">
            <h5>Player 1: <%= @pokemon_battle.pokemon1.name %></h5>
            <span><%= @pokemon_battle.pokemon1.pokedex.name %> (<%= @pokemon_battle.pokemon1.pokedex.type.name %>)</span>
            <div class="hp-bar" id="player-hp"></div>
            <p id="player-hp-text">HP: <%= @pokemon_battle.pokemon1.current_hp %></p>
          </div>
        </div>
        <div class="col">
          <div class="pokemon-container">
            <img src="<%= @pokemon_battle.pokemon1.pokedex.image_url %>" alt="pokemon" width="250">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col">
          <div class="player-info text-dark" id="player-info">
            <h5>Player 2: <%= @pokemon_battle.pokemon2.name %></h5>
            <span><%= @pokemon_battle.pokemon2.pokedex.name %> (<%= @pokemon_battle.pokemon2.pokedex.type.name %>)</span>
            <div class="hp-bar" id="player-hp"></div>
            <p id="player-hp-text">HP: <%= @pokemon_battle.pokemon2.current_hp %></p>
          </div>
        </div>
        <div class="col">
          <div class="pokemon-container">
            <img src="<%= @pokemon_battle.pokemon2.pokedex.image_url %>" alt="pokemon" width="250">
          </div>
        </div>
      </div>

      <% if @winner.present? %>
        <div class="box-result">
          <h2 class="text-dark">
            WINNER:<br><br>
            <%= @winner.name %>
          </h2>
        </div>
      <% end %>

    <% end %>
  </div>

  <div class="box-info">
    <% if @pokemon_battle.status == "ON BATTLE" %>
      <% if @current_turn.odd? %>
        <h3>Player 1: <%= @attacker.name %></h3>
        <% @attacker.pokemon_player_skills.each do |pokemon_skill| %>
          <form action="<%= pokemon_battles_attack_path %>" accept-charset="UTF-8" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <div class="mb-3">
              <label for="pokemon_battle_skill" class="form-label">
                <% if pokemon_skill.current_pp == 0 %>
                  <button type="submit" class="btn btn-dark disabled" onclick="playAttackerAnimation('attacker-attack')">
                    <%= pokemon_skill.skill.name %>
                    <br>
                    <%= pokemon_skill.current_pp %> / <%= pokemon_skill.skill.max_pp %>
                  </button>
                <% else %>
                  <button type="submit" class="btn btn-dark" onclick="playAttackerAnimation('attacker-attack')">
                    <%= pokemon_skill.skill.name %>
                    <br>
                    <%= pokemon_skill.current_pp %> / <%= pokemon_skill.skill.max_pp %>
                  </button>
                <% end %>
              </label>
              <input type="hidden" id="pokemon_battle_skill" name="pokemon_battle[skill_id]" value="<%= pokemon_skill.skill.id %>">
              <input type="hidden" id="current_turn" name="current_turn" value="<%= @pokemon_battle.current_turn %>">
              <input type="hidden" id="pokemon_battle" name="pokemon_battle[pokemon_battle_id]" value="<%= @pokemon_battle.id %>">
              <!--
              <input type="hidden" id="pokemon_battle_detail" name="pokemon_battle_detail[pokemon_battle_detail_id]" value="<%= @pokemon_battle_details %>">
              -->
            </div>
          </form>
        <% end %>
      <% else %>
        <h3>Player 2: <%= @opponent.name %></h3>
        <% @opponent.pokemon_player_skills.each do |pokemon_skill| %>
          <form action="<%= pokemon_battles_attack_path %>" accept-charset="UTF-8" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <div class="mb-3">
              <label for="pokemon_battle_skill" class="form-label">
                <% if pokemon_skill.current_pp == 0 %>
                  <button type="submit" class="btn btn-dark disabled" onclick="playOpponentAnimation('opponent-attack')">
                    <%= pokemon_skill.skill.name %>
                    <br>
                    <%= pokemon_skill.current_pp %> / <%= pokemon_skill.skill.max_pp %>
                  </button>
                <% else %>
                  <button type="submit" class="btn btn-dark" onclick="playOpponentAnimation('opponent-attack')">
                    <%= pokemon_skill.skill.name %>
                    <br>
                    <%= pokemon_skill.current_pp %> / <%= pokemon_skill.skill.max_pp %>
                  </button>
                <% end %>
              </label>
              <input type="hidden" id="pokemon_battle_skill" name="pokemon_battle[skill_id]" value="<%= pokemon_skill.skill.id %>">
              <input type="hidden" id="current_turn" name="current_turn" value="<%= @pokemon_battle.current_turn %>">
              <input type="hidden" id="pokemon_battle" name="pokemon_battle[pokemon_battle_id]" value="<%= @pokemon_battle.id %>">
              <!--
              <input type="hidden" id="pokemon_battle_detail" name="pokemon_battle_detail[pokemon_battle_detail_id]" value="<%= @pokemon_battle_details %>">
              -->
            </div>
          </form>
        <% end %>
      <% end %> 
      
    <% elsif @pokemon_battle.status == "FINISHED" %>
      <h1>Congratulations!!!</h1>
    <% end %>
  </div>

  <% if @pokemon_battle.status == "FINISHED" %>
    <table class="table table-dark table-striped align-middle table-bordered my-4">

      <thead>
        <tr>
          <th>ID Battle</th>
          <th>Winner</th>
          <th>Loser</th>
          <th>Turn</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @pokemon_battle.id %></td>
          <td><%= @winner.name %></td>
          <td><%= @loser.name %></td>
          <td><%= @current_turn %></td>
        </tr>
      </tbody>
      
    </table>
    
    <div class="d-flex justify-content-center my-4">
      <%= link_to "Back", pokemon_battles_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
  
</div>

<%# animation %>
<script>
  function playAttackerAnimation(attackerAttack) {
    const attacker = document.getElementById(attackerAttack);

    attacker.classList.add('attack-animation-attacker');

    setTimeout(() => {
      attacker.classList.remove('attack-animation-attacker');
    }, 500);
  }

  function playOpponentAnimation(opponentAttack) {
    const opponent = document.getElementById(opponentAttack);

    opponent.classList.add('attack-animation-opponent');

    setTimeout(() => {
      opponent.classList.remove('attack-animation-opponent');
    }, 500);
  }
</script>
