<h1 class="mb-4">Edit Pokemon</h1>
<form action="<%= pokemon_path(@pokemon) %>" accept-charset="UTF-8" method="post" class="form text-dark">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" name="_method" value="patch">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="mb-5">
                <label for="pokemon_name" class="form-label"><h4>Name</h4></label>
                <input type="text" class="form-control" id="pokemon_name" name="pokemon[name]" value="<%= @pokemon.name %>" placeholder="Update name" required>
            </div>
            <div class="mb-5">
                <h4>Pokedex</h4>
                <% @pokedexes.each do |pokedex| %>
                    <% if pokedex.id == @pokemon.pokedex.id %>
                        <div class="form-text mb-2">Your Pokedex is <%= pokedex.name %> (<%= pokedex.type.name %>)</div>
                    <% end %>
                <% end %>
                <select id="pokedex-select" class="form-select" name="pokemon[pokedex_id]" aria-label="Default select example">
                    <option selected>Choose your Pokedex</option>
                    <% @pokedexes.each do |pokedex| %>
                        <option value="<%= pokedex.id %>" data-type-id="<%= pokedex.type.id %>" <%= 'disabled' unless pokedex.id == @pokemon.pokedex_id %>><strong><%= pokedex.name %></strong></option>
                    <% end %>
                </select>
            </div>
            <div class="mb-5">
                
                <div id="skills-container">
                    <% @skills.each do |skill| %>
                        <div class="btn-group skill-checkbox d-none" role="group" aria-label="Skill checkbox group" data-type-id="<%= skill.type.id %>">
                            <input type="checkbox" name="pokemon[skill_ids][]" class="btn-check" id="<%= "skill_#{skill.id}" %>" value="<%= skill.id %>" autocomplete="off" <%= 'checked' if @pokemon.skill_ids.include?(skill.id) %>>
                            <label class="btn btn-outline-light mx-1 my-2" for="<%= "skill_#{skill.id}" %>">
                                <div class=" fw-bold mb-1"><%= skill.name %></div>
                                Power: <%= skill.power %>
                                <br>
                                Power Points: <%= skill.max_pp %>
                            </label>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    
    <button type="submit" class="btn btn-warning fw-bold">UPDATE</button>
</form>


