<h1>All Pokemons</h1>

<p class="my-4">
    <%= link_to 'Create Pokemon', new_pokemon_path, class: 'btn btn-warning' %> 
</p>

<div class="row">
    <% @pokemons.each do |pokemon| %>
        <div class="col pokemon-index">
            <% if pokemon.current_hp > 0 %>
                <div class="card m-3 pokemon-card">
                    <div class="card-body">
                        <a href="<%= pokemon_path(pokemon) %>" class="text-dark">
                            <img src="<%= pokemon.pokedex.image_url %>" alt="image">
                            <h5><%= pokemon.name %></h5>
                            <h6>(<%= pokemon.pokedex.name %>)</h6>
                        </a>
                    </div>
                </div>
            <% elsif pokemon.current_hp == 0 %>
                <div class="card opacity-75 m-3 pokemon-card">
                    <div class="card-body">
                        <a href="<%= pokemon_path(pokemon) %>" class="text-dark">
                            <img src="<%= pokemon.pokedex.image_url %>" alt="image">
                            <h5><%= pokemon.name %></h5>
                            <h6>(<%= pokemon.pokedex.name %>)</h6>
                        </a>
                        <%# <i>Need to heal</i> %>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>

<div class="d-flex justify-content-center my-4">
    <%= paginate @pokemons %>
</div>