<h1>All Pokemons</h1>

<p class="my-4">
  <%= link_to 'Create Pokemon', new_pokemon_path, class: 'btn btn-warning' %> 
</p>

<div class="row">
    <% @pokemons.each do |pokemon| %>
        <div class="col-md-3 d-flex flex-wrap justify-content-center">
            <div class="card m-3" style="width: 14rem;">
                <div class="card-body">
                    <a href="<%= pokemon_path(pokemon) %>" class="text-dark">
                        <img src="<%= pokemon.pokedex.image_url %>" alt="image" width="150">
                        <h5><%= pokemon.name %></h5>
                        <h6>(<%= pokemon.pokedex.name %>)</h6>
                    </a>
                </div>
            </div>
        </div>
    <% end %>
</div>